<mat-dialog-content class="mat-typography">
  <mat-card class="planilla-card">
    <mat-card-header>
      <mat-card-title>
        <h4 class="primary-color">{{ planilla.usuarioNombre }}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="isAsalariado != 2">
        <div class="planilla-container">
          <div class="planilla-left">
            <div class="planilla-item"><strong>Salario Base:</strong> <p class="m-0"><strong>{{ formatearNumero(planilla.salarioBase) }}</strong></p></div>
            <div class="planilla-item"><strong>Comisión:</strong> <p class="m-0" contenteditable="true" (blur)="confirmarTexto($event, 'comision')">{{ usuario.comision }}</p></div>
            <div class="planilla-item"><strong>Horas Extra:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.horasExtra }}</p></div>
            <div class="planilla-item"><strong>Incentivos:</strong>  <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.incentivos }}</p></div>
            <div class="planilla-item"><strong>Bonificaciones:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.bonificaciones }}</p></div>
            <div class="planilla-item planilla-total"><strong>SALARIO BRUTO:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioBruto) }}</p></div>
            <div class="planilla-item planilla-total"><strong>SALARIO NETO:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioNeto) }}</p></div>
          </div>
          <div class="planilla-right">
            <div class="planilla-item"><strong>Menos:</strong></div>
            <div class="planilla-item"><strong>CCSS (10.67%):</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.ccss }}</p></div>
            <div class="planilla-item"><strong>Impuesto sobre la renta:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.impuestoRenta }}</p></div>
            <div class="planilla-item"><strong>Adelanto de Salario:</strong>  <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.adelantoSalario }}</p></div>
            <div class="planilla-item"><strong>Préstamos:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.prestamos }}</p></div>
            <div class="planilla-item"><strong>Otros Rebajos:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.otrosRebajos }}</p></div>
            <div class="planilla-item planilla-total planilla-deducciones"><strong>TOTAL DEDUCCIONES:</strong> {{ formatearNumero(planilla.totalDeducciones) }}</div>
          </div>
        </div>
        <div class="planilla-footer">
          <div class="planilla-left">
            <div class="planilla-item"><strong>Otros Pagos: Viáticos</strong></div>
            <div class="planilla-item"><strong>Total Deposito:</strong> <p class="m-0"><strong>{{ formatearNumero(planilla.salarioNeto) }}</strong></p></div>
          </div>
          <div class="planilla-right">
            <div class="planilla-item"><strong>Vacaciones:</strong> <p class="m-0"><strong>{{ planilla.usuarioVacacion }}</strong></p></div>
            <div class="planilla-item"><strong>Fecha:</strong> <p class="m-0"><strong>{{ planilla.fecha | date: 'dd/MM/yyyy' }}</strong></p></div>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="isAsalariado == 2">
        <div>
          <div class="planilla-center">
            <div class="planilla-item planilla-fecha"><strong>Fecha:</strong> <p class="m-0">{{ planilla.fecha | date: 'dd/MM/yyyy' }}</p></div>
            <br>
            <div class="planilla-item"><strong>Bono productividad:</strong> <p class="m-0"><strong>{{ formatearNumero(usuario.bonoProductividad) }}</strong></p></div>
            <div class="planilla-item"><strong>Comisiones:</strong> <p class="m-0" contenteditable="true" (blur)="confirmarTexto($event, 'comision')">{{ usuario.viaticos }}</p></div>
            <div class="planilla-item"><strong>Bono excedente meta:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.viaticos }}</p></div>
            <div class="planilla-item"><strong>Otros Bonos:</strong> <p class="m-0" contenteditable="true" (blur)="confirmarTexto($event, 'comision')">{{ usuario.viaticos }}</p></div>
            <div class="planilla-item"><strong>Otros incentivos:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.viaticos }}</p></div>
            <div class="planilla-item planilla-total"><strong>BASE FACTURACION:</strong> <p class="m-0">{{ formatearNumero(usuario.baseFacturacion) }}</p></div>
            <div class="planilla-item"><strong>Impuesto al valor Agregado:</strong>  <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.impuestoAgregado }}</p></div>
            <div class="planilla-item planilla-total"><strong>SUBTOTAL:</strong> <p class="m-0">{{ formatearNumero(usuario.subtotal) }}</p></div>
            <div class="planilla-item"><strong>Prestamos o adelantos de pago:</strong> <p class="m-0" contenteditable="true" (input)="textoEditado($event)" (focus)="focusTexto($event)" (blur)="confirmarTexto($event)">{{ usuario.viaticos }}</p></div>
            <div class="planilla-item planilla-total"><strong>TOTAL DESEMBOLSO:</strong> <p class="m-0">{{ formatearNumero(usuario.totalDesembolso) }}</p></div>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary">Guardar</button>
</mat-dialog-actions>