<mat-dialog-content class="mat-typography">
  <mat-card class="planilla-card">
    <mat-card-header>
      <mat-card-title>
        <h4 class="primary-color">{{ planilla.usuarioNombre }}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="isAsalariado != 2">
        <div class="planilla-container">
          <div class="planilla-left">
            <div class="planilla-item"><strong>Salario Base:</strong> <p class="m-0 editable" contenteditable (keydown)="onEnterPressed($event)" (blur)="confirmarTexto($event, null, true)"><strong>{{ formatearNumero(planilla.salarioBase) }}</strong></p></div>
            <ng-container *ngIf="aumentos">
              <div class="planilla-item" *ngFor="let tipo of aumentos">
                <strong>{{ tipo.descripcion }} {{ tipo.fijo == 2 ? tipo.valor + '%' : tipo.fijo == 1 ? tipo.valor : '' }}:</strong>
                <p class="m-0" [class.editable]="tipo.fijo != 1 && tipo.fijo != 2" [attr.contenteditable]="(tipo.fijo != 1 && tipo.fijo != 2) ? true : null" (keydown)="onEnterPressed($event)" (blur)="confirmarTexto($event, tipo)">{{ tipo.monto }}</p>
              </div>
            </ng-container>
            <div class="planilla-item planilla-total"><strong>SALARIO BRUTO:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioBruto) }}</p></div>
            <div class="planilla-item planilla-total"><strong>SALARIO NETO:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioNeto) }}</p></div>
          </div>
          <div class="planilla-right">
            <div class="planilla-item"><strong>Menos:</strong></div>
            <ng-container *ngIf="deducciones">
              <div class="planilla-item" *ngFor="let tipo of deducciones">
                <strong>{{ tipo.descripcion }} {{ tipo.fijo == 2 ? tipo.valor + '%' : tipo.fijo == 1 ? tipo.valor : '' }}:</strong>
                <p class="m-0" [class.editable]="tipo.fijo != 1 && tipo.fijo != 2" [attr.contenteditable]="(tipo.fijo != 1 && tipo.fijo != 2) ? true : null" (keydown)="onEnterPressed($event)" (blur)="confirmarTexto($event, tipo)">{{ tipo.monto }}</p>
              </div>
            </ng-container>
            <div class="planilla-item planilla-total planilla-deducciones"><strong>TOTAL DEDUCCIONES:</strong> {{ formatearNumero(planilla.totalDeducciones) }}</div>
          </div>
        </div>
        <div class="planilla-footer">
          <div class="planilla-left">
            <div class="planilla-item"><strong>Otros Pagos: {{ showOtrosPagos }}</strong></div>
            <div class="planilla-item"><strong>Total Deposito:</strong> <p class="m-0"><strong>{{ formatearNumero(planilla.salarioNeto) }}</strong></p></div>
          </div>
          <div class="planilla-right">
            <div class="planilla-item"><strong>Vacaciones:</strong> <p class="m-0"><strong>{{ planilla.usuarioVacacion }}</strong></p></div>
            <div class="planilla-item-fecha"><strong>Fecha:</strong> <p class="m-0"><strong>{{ planilla.fechaInicio | date: 'dd/MM/yyyy' }} - {{ planilla.fechaFinal | date: 'dd/MM/yyyy' }}</strong></p></div>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="isAsalariado == 2">
        <div>
          <div class="planilla-center">
            <div class="planilla-item-fecha planilla-fecha"><strong>Fecha:</strong> <p class="m-0">{{ planilla.fechaInicio | date: 'dd/MM/yyyy' }} - {{ planilla.fechaFinal | date: 'dd/MM/yyyy' }}</p></div>
            <br>
            <ng-container *ngIf="aumentos">
              <div class="planilla-item" *ngFor="let tipo of aumentos">
                <strong>{{ tipo.descripcion }}:</strong>
                <p class="m-0" [class.editable]="tipo.fijo != 1 && tipo.fijo != 2" [attr.contenteditable]="(tipo.fijo != 1 && tipo.fijo != 2) ? true : null" (blur)="confirmarTexto($event, tipo)">{{ tipo.monto }}</p>
              </div>
            </ng-container>
            <div class="planilla-item planilla-total"><strong>BASE FACTURACION:</strong> <p class="m-0">{{ formatearNumero(planilla.baseFacturacion) }}</p></div>
            <ng-container *ngIf="otrosPagos">
              <div class="planilla-item" *ngFor="let tipo of otrosPagos">
                <strong>{{ tipo.descripcion }}:</strong>
                <p class="m-0" [class.editable]="tipo.fijo != 1 && tipo.fijo != 2" [attr.contenteditable]="(tipo.fijo != 1 && tipo.fijo != 2) ? true : null" (blur)="confirmarTexto($event, tipo)">{{ tipo.monto }}</p>
              </div>
            </ng-container>
            <div class="planilla-item planilla-total"><strong>SUBTOTAL:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioBruto) }}</p></div>
            <ng-container *ngIf="deducciones">
              <div class="planilla-item" *ngFor="let tipo of deducciones">
                <strong>{{ tipo.descripcion }}:</strong>
                <p class="m-0" [class.editable]="tipo.fijo != 1 && tipo.fijo != 2" [attr.contenteditable]="(tipo.fijo != 1 && tipo.fijo != 2) ? true : null" (blur)="confirmarTexto($event, tipo)">{{ tipo.monto }}</p>
              </div>
            </ng-container>
            <div class="planilla-item planilla-total"><strong>TOTAL DESEMBOLSO:</strong> <p class="m-0">{{ formatearNumero(planilla.salarioNeto) }}</p></div>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="guardarPlanilla()">Guardar</button>
</mat-dialog-actions>