<mat-card class="card-primary">
  <a routerLink="/bienvenida" class="go-back" matTooltip="Ir atras">
    <mat-icon class="light-color">arrow_back</mat-icon>
  </a>
  <a (click)="descargarPlanilla()" class="descargar" matTooltip="Descargar planilla" *ngIf="isPlanillero">
    <mat-icon class="light-color">download</mat-icon>
  </a>
  <div class="less-width mx-auto">
    <mat-card-header class="content-container-center">
      <mat-card-title class="light-color">
        <h2>Lista de planillas</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <div class="row full-width">
        <div class="col-md px-4 content-container-center">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Modificar las fechas</mat-label>
            <mat-date-range-input [dateFilter]="dateFilter" [rangePicker]="picker" [min]="minDate" [max]="maxDate" [formGroup]="selectedFecha">
              <input matStartDate placeholder="Fecha inicial" formControlName="fechaInicio" (focus)="picker.open()">
              <input matEndDate placeholder="Fecha final" formControlName="fechaFinal" (focus)="picker.open()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancelar</button>
                <button mat-raised-button matDateRangePickerApply (click)="actualizarFechas()">Aceptar</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-md px-4 content-container-center">
          <mat-form-field appearance="outline" class="full-width">
            <mat-icon matSuffix class="secondary-color me-2">search</mat-icon>
            <mat-label>Buscar</mat-label>
            <input matInput #buscar (keyup)="busqueda($event)">
          </mat-form-field>
        </div>
      </div>
    </mat-card-actions>
  </div>
</mat-card>

<div class="second-half-pre-card-primary"></div>

<div class="second-card-primary"></div>

<mat-card class="card-pre mx-auto"></mat-card>

<ng-container *ngIf="loading; else datos">
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-container>
<ng-template #datos>
  <div class="almost-width mx-auto mb-4">
    <button mat-flat-button color="primary" class="primary m-2" (click)="crearPlanillas()" *ngIf="isPlanillero">Crear planillas</button>
    <a mat-flat-button color="primary" class="primary m-2" routerLink="historial" *ngIf="isPlanillero">Ver historial</a>
    <button mat-flat-button color="accent" class="secondary m-2" (click)="completarPlanillas()" *ngIf="isPlanillero && planillaActual">Completar planillas</button>
  </div>

  <ng-container *ngIf="dataSource && dataSource.data.length > 0; else noDatos">
    <div class="table-container almost-width mx-auto">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="usuarioIdentificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificacion</th>
            <td mat-cell *matCellDef="let row"> {{ row.usuarioIdentificacion }} </td>
        </ng-container>

        <ng-container matColumnDef="usuarioNombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
            <td mat-cell *matCellDef="let row">{{ row.usuarioNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCorreo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
            <td mat-cell *matCellDef="let row"> {{ row.usuarioCorreo }} </td>
        </ng-container>

        <ng-container matColumnDef="puestoDescripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
            <td mat-cell *matCellDef="let row"> {{ row.puestoDescripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoContratoDescripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de contrato</th>
            <td mat-cell *matCellDef="let row"> {{ row.tipoContratoDescripcion }} </td>
        </ng-container>
            
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-fab extended color="primary" class="boton-accion" matTooltip="Mostrar planilla" aria-label="Mostrar planilla" (click)="mostrarPlanilla(row)">
              <mat-icon class="mat-18">preview</mat-icon>
              Mostrar planilla
            </button>
            <button mat-fab extended color="primary" class="boton-accion" matTooltip="Ver comprobantes" aria-label="Ver comprobantes" (click)="redireccionar('comprobante', row.usuarioId)">
              <mat-icon class="mat-18">preview</mat-icon>
              Ver comprobantes
            </button>
          </td>
        </ng-container> 
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-container>
  <ng-template #noDatos>
    <h3 class="secondary-color no-data no-data-margint">
      No hay planillas activas
    </h3>
  </ng-template>
</ng-template>
<div class="almost-width mx-auto">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>