<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo-container" routerLink="/inicio">
      <img src="assets/img/logoSCC.webp" alt="">
      <h3>SCC Inc</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarContent">
      <ul class="navbar-nav flex-grow-1 my-auto">
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/inicio" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Inicio</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/sobre-nosotros" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Sobre nosotros</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/reclutamiento" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Únete a nosotros</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/contacto" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Contáctanos</a>
        </li>
      </ul>
      <div class="routerLinkA d-flex py-lg-0 py-3">
          <div *ngIf="!usuarioActual; else loggedIn">
            <button mat-button color="primary" routerLink="/login" routerLinkActive="active-outline-button" class="primary-outline-button" (click)="collapseNavbar()">Inicio de sesión</button>
          </div>
          <ng-template #loggedIn>
            <button mat-icon-button class="iconoUsuario" [matMenuTriggerFor]="menu"  matTooltip="Menú de Usuario">
              <mat-icon class="primary-color">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="isAdmin" [matMenuTriggerFor]="menuAdmin">
                <mat-icon class="me-1">settings</mat-icon>
                <span>Administrador</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuIncapacidad">
                <mat-icon class="me-1">sick</mat-icon>
                <span>Incapacidades</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuVacacion">
                <mat-icon class="me-1">beach_access</mat-icon>
                <span>Vacaciones</span>
              </button>
              <button mat-menu-item routerLink="/capacitacion">
                <mat-icon class="me-1">school</mat-icon>
                <span>Capacitaciones</span>
              </button>
              <button mat-menu-item routerLink="/foro">
                <mat-icon class="me-1">forum</mat-icon>
                <span>Foros</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuPlanilla">
                <mat-icon class="me-1">payments</mat-icon>
                <span>Planillas</span>
              </button>
              <button mat-menu-item (click)="logout()" (click)="collapseNavbar()">
                <mat-icon class="me-1">logout</mat-icon>
                <span>Cerrar sesión</span>
              </button>
            </mat-menu>
          </ng-template>

          <mat-menu #menuAdmin="matMenu">
            <button mat-menu-item *ngIf="isAdmin" routerLink="/usuario" (click)="collapseNavbar()">
              <span>Usuarios</span>
            </button>
            <button mat-menu-item *ngIf="isAdmin" routerLink="/capacitacion/admin"  (click)="collapseNavbar()">
              <span>Capacitaciones</span>
            </button>
          </mat-menu>

          <mat-menu #menuIncapacidad="matMenu">
            <button mat-menu-item routerLink="/incapacidad" (click)="collapseNavbar()">
              <span>Crear justificante</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/incapacidad/justificantes"  (click)="collapseNavbar()">
              <span>Manejar justificantes</span>
            </button>
          </mat-menu>

          <mat-menu #menuVacacion="matMenu">
            <button mat-menu-item routerLink="/vacacion" (click)="collapseNavbar()">
              <span>Crear solicitud</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/vacacion/solicitudes"  (click)="collapseNavbar()">
              <span>Manejar solicitudes</span>
            </button>
          </mat-menu>

          <mat-menu #menuPlanilla="matMenu">
            <button mat-menu-item *ngIf="isAdmin" routerLink="/planilla"  (click)="collapseNavbar()">
              <span>Manejar planillas</span>
            </button>
            <button mat-menu-item *ngIf="isAdmin" routerLink="/planilla/historial"  (click)="collapseNavbar()">
              <span>Ver historial</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/planilla/supervisor"  (click)="collapseNavbar()">
              <span>Crear anotaciones</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/planilla/anotaciones"  (click)="collapseNavbar()">
              <span>Manejar anotaciones</span>
            </button>
            <button mat-menu-item (click)="collapseNavbar(); redireccionar('comprobante')">
              <span>Ver comprobantes</span>
            </button>
          </mat-menu>

      </div>
    </div>
  </div>
</nav>