<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo-container" routerLink="/inicio">
      <img src="assets/img/logoSCC.webp" alt="">
      <h3>SCC Inc</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarContent" aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarContent">
      <ul class="navbar-nav flex-grow-1 my-auto">
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/inicio" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Inicio</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/sobre-nosotros" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Sobre nosotros</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/reclutamiento" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Únete a nosotros</a>
        </li>
        <li class="nav-item py-lg-0 py-3">
          <a routerLink="/contacto" routerLinkActive="active-link" class="routerLinkA" (click)="collapseNavbar()">Contáctanos</a>
        </li>
      </ul>
      <div class="routerLinkA d-flex py-lg-0 py-3">
          <div *ngIf="!usuarioActual; else loggedIn">
            <button mat-button color="primary" routerLink="/login" routerLinkActive="active-outline-button" class="primary-outline-button" (click)="collapseNavbar()">Inicio de sesión</button>
          </div>
          <ng-template #loggedIn>
            <button mat-icon-button class="icono-notificacion me-4" [matMenuTriggerFor]="notificacion"  matTooltip="Notificaciones" (click)="verNotificaciones()">
              <mat-icon class="primary-color" *ngIf="notificacionesNoLeidas.length > 0">notifications_active</mat-icon>
              <mat-icon class="primary-color" *ngIf="notificacionesNoLeidas.length == 0">notifications</mat-icon>
              <span *ngIf="notificacionesNoLeidas.length > 0" class="badge">
                {{ notificacionesNoLeidas.length }}
              </span>
            </button>
            <mat-menu #notificacion="matMenu" class="notificacion-menu" style="cursor: pointer;">
              <ng-container *ngIf="notificaciones.length > 0; else noNotificaciones">
                <mat-list class="p-0">
                  <div *ngFor="let notificacion of notificaciones">
                    <div class="notificacion-menu"
                    [ngClass]="{'accepted': notificacion.color === 1, 
                                'rejected': notificacion.color === 3, 
                                'unread': notificacion.leido === 0}">
                      <a [href]="notificacion.destino" class="notificacion-link">
                        <mat-list-item>
                          <mat-icon matListItemIcon>notifications</mat-icon>
                          <div matListItemTitle>{{ notificacion.titulo }}</div>
                          <div matListItemLine>{{ notificacion.fechaCreado | date: 'd \'de\' MMMM, y - hh:mm aa' }}</div>
                          {{ notificacion.descripcion }}
                        </mat-list-item>
                      </a>
                      <div class="notificacion-delete">
                        <button mat-icon-button>
                          <mat-icon class="warn-color">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                    <mat-divider *ngIf="notificaciones.length > 1"></mat-divider>
                  </div>
                </mat-list>
              </ng-container>
            
              <ng-template #noNotificaciones>
                <div class="p-3">
                  <span class="primary-color">No hay notificaciones</span>
                </div>
              </ng-template>
            </mat-menu>

            <button mat-icon-button class="icono-usuario" [matMenuTriggerFor]="menu"  matTooltip="Menú de Usuario">
              <mat-icon class="primary-color">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="isCapacitador" [matMenuTriggerFor]="menuAdmin">
                <mat-icon class="me-1">settings</mat-icon>
                <span>Administrador</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuIncapacidad">
                <mat-icon class="me-1">sick</mat-icon>
                <span>Incapacidades</span>
              </button>
              <button mat-menu-item *ngIf="isSupervisor || isVacaciones" [matMenuTriggerFor]="menuVacacion">
                <mat-icon class="me-1">beach_access</mat-icon>
                <span>Vacaciones</span>
              </button>
              <button mat-menu-item routerLink="/capacitacion">
                <mat-icon class="me-1">school</mat-icon>
                <span>Capacitaciones</span>
              </button>
              <button mat-menu-item routerLink="/foro">
                <mat-icon class="me-1">forum</mat-icon>
                <span>Foros</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuPlanilla">
                <mat-icon class="me-1">payments</mat-icon>
                <span>Planillas</span>
              </button>
              <button mat-menu-item (click)="logout()" (click)="collapseNavbar()">
                <mat-icon class="me-1">logout</mat-icon>
                <span>Cerrar sesión</span>
              </button>
            </mat-menu>
          </ng-template>

          <mat-menu #menuAdmin="matMenu">
            <button mat-menu-item *ngIf="isAdmin" routerLink="/usuario" (click)="collapseNavbar()">
              <span>Usuarios</span>
            </button>
            <button mat-menu-item *ngIf="isCapacitador" routerLink="/capacitacion/admin"  (click)="collapseNavbar()">
              <span>Capacitaciones</span>
            </button>
          </mat-menu>

          <mat-menu #menuIncapacidad="matMenu">
            <button mat-menu-item routerLink="/incapacidad" (click)="collapseNavbar()">
              <span>Crear justificante</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/incapacidad/justificantes"  (click)="collapseNavbar()">
              <span>Manejar justificantes</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/incapacidad/historial"  (click)="collapseNavbar()">
              <span>Historial de justificantes</span>
            </button>
          </mat-menu>

          <mat-menu #menuVacacion="matMenu">
            <button mat-menu-item *ngIf="isVacaciones" routerLink="/vacacion" (click)="collapseNavbar()">
              <span>Crear solicitud</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/vacacion/solicitudes"  (click)="collapseNavbar()">
              <span>Manejar solicitudes</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor" routerLink="/vacacion/historial"  (click)="collapseNavbar()">
              <span>Historial de solicitudes</span>
            </button>
          </mat-menu>

          <mat-menu #menuPlanilla="matMenu">
            <button mat-menu-item *ngIf="isSupervisor || isPlanillero" routerLink="/planilla"  (click)="collapseNavbar()">
              <span>Manejar planillas</span>
            </button>
            <button mat-menu-item *ngIf="isPlanillero" routerLink="/planilla/historial"  (click)="collapseNavbar()">
              <span>Ver historial</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor || isPlanillero" routerLink="/planilla/supervisor"  (click)="collapseNavbar()">
              <span>Crear anotaciones</span>
            </button>
            <button mat-menu-item *ngIf="isSupervisor || isPlanillero" routerLink="/planilla/anotaciones"  (click)="collapseNavbar()">
              <span>Manejar anotaciones</span>
            </button>
            <button mat-menu-item (click)="collapseNavbar(); redireccionar('comprobante')">
              <span>Ver comprobantes</span>
            </button>
          </mat-menu>

      </div>
    </div>
  </div>
</nav>