<mat-card class="card-primary">
  <a routerLink="/foro" class="go-back" matTooltip="Ir atras">
    <mat-icon class="light-color">arrow_back</mat-icon>
  </a>
  <div class="mx-auto">
    <mat-card-header class="content-container-center">
      <mat-card-title class="light-color">
        <h2>Justificación de incapacidades</h2>
      </mat-card-title>
    </mat-card-header>
  </div>
</mat-card>

<div class="second-card-primary"></div>
  
<mat-card class="card-pre mx-auto"></mat-card>

<form [formGroup]="incapacidadForm" class="content-container-center my-3"  (ngSubmit)="crearIncapacidad()">
  <mat-card class="card-form"> 
    <div class="row almost-width">
      <div class="border-primary my-5 p-4">
        <mat-card-content class="p-0">
          <div class="row my-3">
            <mat-form-field>
              <mat-label>Razón</mat-label>
              <textarea matInput type="text" placeholder="Ingrese la razón" formControlName="razon"></textarea>
              <mat-error *ngIf="errorHandling('razon','required')">
                  La razón es <strong>requerida</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('razon','maxlength')">
                La razón debe tener máximo <strong>250 carácteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
        
          <div class="row mb-4">
            <mat-form-field>
              <mat-label>Fechas de incapacidad</mat-label>
              <mat-date-range-input [dateFilter]="dateFilter" [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                <input matStartDate placeholder="Fecha inicial" formControlName="fechaInicio" (focus)="picker.open()">
                <input matEndDate placeholder="Fecha final" formControlName="fechaFinal" (focus)="picker.open()">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancelar</button>
                  <button mat-raised-button matDateRangePickerApply>Aceptar</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
              <mat-error *ngIf="errorHandling('fechaInicio','required')">
                  La fecha es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <app-foro-subir-archivo (archivosSelected)="onArchivosSelected($event)"></app-foro-subir-archivo>
            <mat-error *ngIf="errorHandling('archivo','size')">
                Cada archivo deben pesar menos de <strong>{{ sizeError }} MB</strong>
            </mat-error>
          </div>
        </mat-card-content>
      
        <mat-card-actions class="button-container my-3">
          <button mat-flat-button color="accent" type="submit" class="secondary-button" [disabled]="incapacidadForm.invalid">Enviar justificación</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</form>