
<form [formGroup]="anotacionForm" (ngSubmit)="guardarAnotacion()">
  <mat-dialog-content class="mat-typography">
    <h4 class="primary-color my-3">Modificar  {{ anotacion.tipo }}: {{ anotacion.tipoDescripcion }}</h4>
    <div class="row my-3">
      <mat-form-field class="full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput type="text" formControlName="descripcion" />
        <mat-error *ngIf="errorHandling('descripcion','required')">
            La descripción es <strong>requerida</strong>
        </mat-error>
        <mat-error *ngIf="errorHandling('descripcion','maxlength')">
            La descripción debe tener como máximo <strong>100 carácteres</strong>
        </mat-error>
      </mat-form-field>
    </div>
      
    <div class="row my-3">
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Cantidad de horas</mat-label>
          <input matInput type="time" formControlName="hora" (input)="calcularMonto()">
        </mat-form-field>
      </div>
      <div class="col-md">
        <mat-form-field class="full-width">
          <mat-label>Monto</mat-label>
          <input matInput type="text" formControlName="monto" />
          <mat-error *ngIf="errorHandling('monto','required')">
              El monto es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="!anotacionForm.valid">Guardar</button>
  </mat-dialog-actions>
</form>