<h2 mat-dialog-title>Usuarios Subidos</h2>
<mat-dialog-content class="mat-typography">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="identificacion">
                <th mat-header-cell *matHeaderCellDef>Identificacion</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'identificacion')}"> {{row.identificacion && row.identificacion !== null ? row.identificacion : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'nombre')}">{{row.nombre && row.nombre !== null ? row.nombre : '...'}}</td>
            </ng-container>
            
            <ng-container matColumnDef="tipoUsuario">
                <th mat-header-cell *matHeaderCellDef>Tipo de usuario</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'tipoUsuario')}"> {{row.tipoUsuario && row.tipoUsuario !== null ? row.tipoUsuario : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'correo')}"> {{row.correo && row.correo !== null ? row.correo : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef>Contraseña</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'password')}"> {{row.password && row.password !== null ? row.password : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef>Telefono</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'telefono')}"> {{row.telefono && row.telefono !== null ? row.telefono : '...'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="puesto">
                <th mat-header-cell *matHeaderCellDef>Puesto</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'puesto')}"> {{row.puesto && row.puesto !== null ? row.puesto : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="salario">
                <th mat-header-cell *matHeaderCellDef>Salario</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'salario')}"> {{row.salario && row.salario !== null ? '₡ ' + row.salario : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="tipoContrato">
                <th mat-header-cell *matHeaderCellDef>Tipo de contrato</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'tipoContrato')}"> {{row.tipoContrato && row.tipoContrato !== null ? row.tipoContrato : 'No posee contrato'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="vacacion">
                <th mat-header-cell *matHeaderCellDef>Cantidad de vacaciones</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'vacacion')}"> {{row.vacacion !== undefined && row.vacacion !== null ? row.vacacion : '...'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="fechaIngreso">
                <th mat-header-cell *matHeaderCellDef>Fecha de ingreso</th>
                <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{'error-texto': tieneError(rowIndex + 1, 'fechaIngreso')}"> {{row.fechaIngreso && row.fechaIngreso !== null ? row.fechaIngreso : '...'}} </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="mostrarErrores(rowIndex + 1)"  *matRowDef="let row; let rowIndex = index; columns: displayedColumns;" [ngClass]="{'error-formato': tieneError(rowIndex + 1, null)}"></tr>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>cancelar</button>
  <button mat-button [mat-dialog-close]="usuarios" [disabled]="this.errors">Confirmar</button>
</mat-dialog-actions>