<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h3 class="mt-5 mb-5">
                    SCC Inc
                </h3>
                <div class="menu row justify-content-sm-center mb-2">
                    <div class="col-sm-2 col-xl-1 mb-2">
                        <a routerLink="/inicio" routerLinkActive="active-link" class="routerLinkA">Inicio</a>
                    </div>
                    <div class="col-sm-2 col-xl-1 mb-2">
                        <a routerLink="/sobre-nosotros" routerLinkActive="active-link" class="routerLinkA">Sobre nosotros</a>
                    </div>
                    <div class="col-sm-2 col-xl-1 mb-2">
                        <a routerLink="/reclutamiento" routerLinkActive="active-link" class="routerLinkA">Únete a nosotros</a>
                    </div>
                    <div class="col-sm-2 col-xl-1 mb-2">
                        <a routerLink="/contacto" routerLinkActive="active-link" class="routerLinkA">Contáctenos</a>
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-md-1 col-3 mb-2">
                        <button mat-fab class="social whats" matTooltip="WhatsApp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-3 mb-2">
                        <button mat-fab class="social" (click)="redirectToPage('https://www.facebook.com/sccinc.cr')" matTooltip="Facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </button>
                    </div>
                    <div class="col-md-1 col-3 mb-2">
                        <button mat-fab class="social" (click)="redirectToPage('https://www.linkedin.com/company/scc-inc-centro-de-contacto/')"  matTooltip="LinkedIn">
                            <i class="fa-brands fa-linkedin"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright ©2024 SCC Inc
                </p>    
            </div>
        </div>
    </div>
</footer>
