<mat-card class="card-primary">
  <div class="mx-auto">
    <mat-card-header class="content-container-center">
      <mat-card-title class="light-color">
        <h2>404 - Página no encontrada</h2>
      </mat-card-title>
    </mat-card-header>
  </div>
</mat-card>

<div class="second-pre-card-primary"></div>

<div class="second-card-primary"></div>

<mat-card class="card-pre mx-auto"></mat-card>

<mat-card class="card">
  <div class="content-container">
    <p class="mensaje">Lo sentimos, la página que buscas no existe.</p>
    <a mat-flat-button color="accent" class="secondary-button" routerLink="/">Volver al Inicio</a>
  </div>
</mat-card>