@use '@angular/material' as mat;
@use 'variables' as *;


// Define your custom color palettes
$primary-pallete: (
  50 : #e0e8f4,
  100 : #b3c6e4,
  200 : #80a0d2,
  300 : #4d7abf,
  400 : #265eb2,
  500 : #0041a4,
  600 : #003b9c,
  700 : #003292,
  800 : #002a89,
  900 : #001c78,
  A100 : #a6b3ff,
  A200 : #7388ff,
  A400 : #405dff,
  A700 : #2647ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$accent-pallete: (
    50 : #fdf3e2,
    100 : #fbe2b6,
    200 : #f8cf85,
    300 : #f5bb54,
    400 : #f3ad30,
    500 : #f19e0b,
    600 : #ef960a,
    700 : #ed8c08,
    800 : #eb8206,
    900 : #e77003,
    A100 : #ffffff,
    A200 : #ffeada,
    A400 : #ffcda7,
    A700 : #ffbe8e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-primary: mat.m2-define-palette($primary-pallete);
$custom-accent: mat.m2-define-palette($accent-pallete);


// Define the theme object
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent
    ),
    density: (
      scale: 0,
    )
  )
);


@include mat.core();


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
h1, h2, h3 { font-family: $font-family-title; }
h1 { font-size: 70px; }
h2 { font-size: 55px; }
h3 { font-size: 40px; }
body { margin: 0; font-family: $font-family-body; font-size: 18px; }

.spacer {
  flex: 1 1 auto;
}

a {
  position: relative;
  color: #0041a4;
  text-decoration: none;
  padding: 10px 0;
  transition: all 0.15s;
}

a:hover {
  color: $secondary-color;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 2px;
  left: 0;
  background: #f19e0b;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

//Remover el grisito que tienen los botones cuando hacen hover
:root {
  --mat-text-button-hover-state-layer-opacity: 0;
}