<mat-card class="card-primary">
  <a (click)="irAtras()" class="go-back" matTooltip="Ir atras">
    <mat-icon class="light-color">arrow_back</mat-icon>
  </a>
  <div class="mx-auto less-width">
    <mat-card-header class="content-container-center">
      <mat-card-title class="light-color">
      </mat-card-title>
    </mat-card-header>
  </div>
</mat-card>

<div class="second-double-pre-card-primary"></div>

<div class="second-card-primary"></div>
  
<mat-card class="card-pre mx-auto"> 
  <div class="row">
    <mat-card-content>
      
    </mat-card-content>
  </div>
</mat-card>
          
<div *ngIf="usuarioVideo && moduloVideos">
  <div class="row almost-width mb-5 mx-auto">
    <div class="col button-icon-left">
      <h5 class="content-container-center-row" (click)="anteriorVideo()" [ngClass]="{'deshabilitado': posicionActual == 0}">
        <mat-icon>chevron_left</mat-icon>
        <button mat-button [disabled]="posicionActual == 0">
          Video anterior
        </button>
      </h5>
    </div>
    <div class="col button-icon-right">
      <h5 class="content-container-center-row text-end" (click)="siguienteVideo()" [ngClass]="{'deshabilitado': posicionActual == moduloVideos.length - 1}">
        <button mat-button [disabled]="posicionActual == moduloVideos.length - 1">
          Siguiente video 
        </button>
        <mat-icon>chevron_right</mat-icon>
      </h5>
    </div>
  </div>

  <div class="video-container content-container-center">
      <app-capacitacion-video-player class="video-frame" [videoUrl]="usuarioVideo.videoLink" [usuarioVideo]="usuarioVideo" (progresoChange)="onProgresoChange($event)"></app-capacitacion-video-player>
  </div>
  <mat-card class="card-video">
    <mat-card-header class="p-0 row">
      <mat-card-title class="card-titulo">
        <h4 class="video-titulo pe-2">
          {{ usuarioVideo.videoTitulo }}
        </h4>
        <div class="video-progreso" [ngClass]="{'warn-color': !progreso || progreso == 0, 'secondary-color': progreso >= 100}">
          Progreso: {{ progreso ?? '0.00' }}%
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content p-3">
      <div class="video-desc" [innerHTML]="convertService.convertLineBreaks(usuarioVideo.videoDescripcion)">
      </div>

      <div class="my-5">
        
      </div>
    </mat-card-content>
  </mat-card>
</div>