@use '../../../variables' as *;

.card-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 99%;
  min-height: 61px;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  box-shadow: none;
}

.secondary-button {
  border-radius: 10px !important;
  width: 256px;
}

.res {
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;

}

.titulito {
  background-color: $secondary-color;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  width: 100%;
}
.titulito-res {
  background-color: $primary-color;
  color: #f0f0f0;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.titulito-res div {
  flex: 1;
}

.opciones-abs {
  position: absolute;
  top: -2px;
  right: 0;
  z-index: 10;
}

.opciones-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.opciones-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-foro {
  border: 1px solid #dadada;
}

.card-foro {
  border-radius: 10px;
  height: 100%;
  margin: 0 auto;
  box-shadow: none;
  transition: all 0.15s;
}

.noWrap-texto{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menos-opacidad {
  opacity: 0.6;
}

.user-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.res-icon {
  font-size: 45px;
  height: 45px;
  width: 45px;
}

.usuario {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
}

.archivo-container {
  display: flex;
}

.archivo {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #0041a4;
  width: 100%;
  text-decoration: none;
  transition: all 0.15s;

  mat-icon {
    flex-shrink: 0;
    margin-right: 5px;
    transition: all 0.15s;
  }
  .archivo-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex-shrink: 1;
  }
}

.archivo:hover {
  color: $secondary-color;
  
  mat-icon {
    color: $secondary-color;
  }
}

.respuestas {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  height: 100px;
  border-radius: 10px;
}

::ng-deep .mat-mdc-progress-bar.mat-accent .mdc-linear-progress__buffer-bar {
  background-color: #d9d9d9;
}

.progress-bar-container {
  position: relative;
}

.respuesta-borde {
  border: 1px solid #dadada;
  margin-top: -20px;
  padding: 15px;
  border-radius: 10px;
}

.respuesta-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: start;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.respuesta-descripcion {
  max-height: 100%;
  width: 70%;
  overflow: auto;
}

.respuesta-otros {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.respuesta-cantidad,
.respuesta-porcentaje {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.respuesta-descripcion, .respuesta-cantidad, .respuesta-porcentaje {
  padding: 0 15px;
}

.titulo-grafico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ver-respuestas {
  color: rgb(0, 0, 0, 0.8);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.ver-respuestas:hover {
  color: $primary-color;
}



:host {
  --mdc-linear-progress-active-indicator-height: 100px;
  --mdc-linear-progress-track-height: 100px;
}
  
@media screen and (max-width: 1400px) {
}

  
@media screen and (max-width: 1200px) {
}

  
@media screen and (max-width: 991.98px) {
}
  
@media screen and (max-width: 767.98px) {
  .user-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }

  .res-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
}
  
@media screen and (max-width: 619.98px) {
  .respuesta-otros {
    flex-direction: column;
  }
}
  
@media screen and (max-width: 575.98px) {
  .user-icon {
    font-size: 45px;
    height: 45px;
    width: 45px;
  }

  .res-icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
  }
}
  
@media screen and (max-width: 488px) {
  .user-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }

  .res-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 400px) {
  .user-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
  .res-icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
  }
}