<h3 class="primary-color mt-5 ms-5">{{ tituloForm }} modulo</h3>
<a [mat-dialog-close]="false" class="close-dialog" matTooltip="Ir atras">
  <mat-icon class="dark-color">close</mat-icon>
</a>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="moduloForm" class="content-container-center my-3"  (ngSubmit)="returnModulo()">
      <div class="row almost-width">
        <div class="border-primary">
            <div class="row my-3">
            <mat-form-field>
                <mat-label>Título</mat-label>
                <input matInput type="text" placeholder="Ingrese el título" formControlName="titulo" />
                <mat-error *ngIf="errorHandling('titulo','required')">
                    El título es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('titulo','maxlength')">
                    El título debe tener como máximo <strong>100 carácteres</strong>
                </mat-error>
            </mat-form-field>
            </div>
        
            <div class="row my-3">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Ingrese la descripción" formControlName="descripcion"></textarea>
                <mat-error *ngIf="errorHandling('descripcion','required')">
                    La descripción es <strong>requerida</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('descripcion','maxlength')">
                    La descripción debe tener como máximo <strong>3000 carácteres</strong>
                </mat-error>
            </mat-form-field>
            </div>
        
          <div class="button-container align-end my-3">
            <button mat-flat-button color="accent" type="submit" class="secondary-button" [disabled]="moduloForm.invalid">{{tituloForm}} modulo</button>
          </div>
        </div>
      </div>
  </form>
</mat-dialog-content>