<h4 class="primary-color dialog-title">Detalle de errores</h4>
<a [mat-dialog-close]="false" class="close-dialog" matTooltip="Ir atras">
  <mat-icon class="dark-color">close</mat-icon>
</a>
<div mat-dialog-content>
  <p *ngIf="errors">La fila {{ rowIndex }} tiene los siguientes errores de formato:</p>
  <ul>
    <li *ngFor="let error of errorKeys">
        <h5 mat-dialog-title>{{ error }}</h5>
        <div mat-dialog-content>{{ errors[error] }}</div>
    </li>
  </ul>
  <div *ngIf="!errors">Esta fila no posee ningún error</div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</div>