<mat-card class="card-primary">
  <a routerLink="/foro" class="go-back" matTooltip="Ir atras">
    <mat-icon class="light-color">arrow_back</mat-icon>
  </a>
  <div class="descargar mx-auto">
    <button mat-flat-button class="primary-outline-inverted-button" [routerLink]="'/vacacion/historial/' + usuarioActual.id">Ver historial</button>
  </div>
  <div class="mx-auto light-color">
    <mat-card-header class="content-container-center">
      <mat-card-title>
        <h2>Solicitud de vacaciones</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-container-center my-5">
      <h5 class="mb-4">Vacaciones disponibles: {{ vacacionActual == 1 || vacacionActual == -1 ? vacacionActual + ' día' : vacacionActual + ' días' }}</h5>
      <h5 *ngIf="vacacionesSolicitadas">Vacaciones solicitadas: {{ vacacionesSolicitadas == 1 ? vacacionesSolicitadas + ' día' : vacacionesSolicitadas + ' días' }}</h5>
    </mat-card-content>
  </div>
</mat-card>

<div class="second-card-primary"></div>
  
<mat-card class="card-pre mx-auto"></mat-card>

<form [formGroup]="vacacionForm" class="content-container-center my-3"  (ngSubmit)="crearVacacion()">
  <mat-card class="card-form"> 
    <div class="row almost-width">
      <div class="border-primary my-5 p-4">
        <mat-card-content class="p-0">
          <div class="row mb-4">
            <mat-form-field>
              <mat-label>Comentario (opcional)</mat-label>
              <textarea matInput type="text" placeholder="Ingrese el comentario" formControlName="comentario"></textarea>
              <mat-error *ngIf="errorHandling('comentario','maxlength')">
                El comentario debe tener como máximo <strong>250 carácteres</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="row mb-4">
            <mat-form-field>
              <mat-label>Fechas de vacaciones</mat-label>
              <mat-date-range-input [dateFilter]="dateFilter" [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                <input matStartDate placeholder="Fecha inicial" formControlName="fechaInicio" (dateChange)="validateLimit()" (focus)="picker.open()" readonly>
                <input matEndDate placeholder="Fecha final" formControlName="fechaFinal" (dateChange)="validateLimit()" (focus)="picker.open()" readonly>
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker (closed)="onClosedDatePicker()"></mat-date-range-picker>
              <mat-error *ngIf="errorHandling('fechaInicio','required')">
                  La fecha es <strong>requerida</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('fechaInicio','disponible')">
                  Ha superado el límite de <strong>vacaciones disponibles</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row my-3" *ngIf="vacacionForm.get('fechaInicio').value && vacacionForm.get('fechaFinal').value">
            <div class="horas">
              <div class="m-3">
                <div>Horas disponibles: {{ horasDisponiblesInicio.join(', ') }}</div>
                <div class="content-container-start-row my-1">
                  <h6>{{ vacacionForm.get('fechaInicio').value | date: 'dd/MM/yyyy' }} <strong>{{ previewHoraInicio }}</strong></h6>
                </div>
                <div class="content-container-start-row">
                  <mat-form-field>
                    <mat-label>Hora de inicio</mat-label>
                    <input matInput type="time" formControlName="horaInicio" (blur)="verificarHora(true)">
                  </mat-form-field>
                </div>
              </div>
              <div class="m-3">
                <div>Horas disponibles: {{ horasDisponiblesFinal.join(', ') }}</div>
                <div class="content-container-start-row my-1">
                  <h6>{{ vacacionForm.get('fechaFinal').value | date: 'dd/MM/yyyy' }} <strong>{{ previewHoraFinal }}</strong></h6>
                </div>
                <div class="content-container-start-row">
                  <mat-form-field>
                    <mat-label>Hora finaliza</mat-label>
                    <input matInput type="time" formControlName="horaFinal" (blur)="verificarHora(false)">
                    <mat-error *ngIf="errorHandling('horaFinal','interval')">
                        Las horas deben estar dentro del mismo intervalo de tiempo
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      
        <mat-card-actions class="button-container my-3">
          <button mat-flat-button color="accent" type="submit" class="secondary-button" [disabled]="vacacionForm.invalid">Enviar justificación</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</form>